.type-select-l2{
	position: relative;
	> * {
		display: inline-block;	
		cursor: pointer;		
	}
	display: none;
	@include media-breakpoint-up(md){
		display: inline-block;
	}
	.seperator{
		color: $color-MediumGray;
		margin: 0 6px;
	}
	.marker{
		position: absolute;
		bottom: -5px;
		@include dir-left(0);
		width: 0;
		height: 2px;
		background-color: $color-Main;
		transition: transform 400ms,
					width 200ms;
	}
}