.link-group-l2{
	@include dir-padding-right(20px);
	margin: 20px 0;
	vertical-align: top;
	width: 100%;
	text-align: center;
	@include media-breakpoint-up(sm){
		width: 40%;
		text-align: $dir-left;
	}
	@include media-breakpoint-up(md){
		width: 20%;
	}
	.header{
		color: white;
		font-size: 20px;		
	}
}