.page-top-promotion-l1{
	position: fixed;
	top: $header-height;
	height: $top-promotion-height;
	box-sizing: border-box;
	z-index: $zi-min;
	width: 100%;	

	&.mobile{
		top: $mobile-top-height;
	}

	&.top-padding{
		top: 0;
		padding-top: $header-height;
		box-sizing: content-box;
		&.mobile{
			padding-top: $mobile-top-height;
		}
	}

	.bg-image{
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		@include dir-left(0);
		img{
			object-fit: cover;
			width: 100%;
			height: 100%;
			filter: blur(10px);
		}
	}
	
	@import "./item";
}