@import "./colors";

$GLOBALS_RTL: false;

$order-history-item-image-shadow: 0px 0px 10px 5px $color-MediumGray;
$order-history-item-image-border-radius: 20px;

$horizontal-list-item-side-padding: 5px;

$top-promotion-height: 430px;
$top-promotion-image-aspect-ratio: 90;
$top-promotion-image-shadow: -1px 1px 10px 1px $color-MediumGray;
$top-promotion-image-radius: 20px;
