.search-l2{
	display: none;
	@include dir-margin-left(20px);
	@include media-breakpoint-up(md){
		display: inline-block;
	}
	.button{
		vertical-align: baseline;
		@include dir-margin-right(5px);		
	}
	.input{
		vertical-align: text-bottom;		
		> div{
			@include MUI-custom-input();		
		}
	}
	&.fixed{
		display: inline-block;
	}
}