.custom-list-textfield-l1{
	text-align: $dir-left !important;
	border-bottom: 0.1px solid $color-MediumLightGray !important;
	&.no-border{
		border-bottom: none !important;
	}
	.list-icon{
		display: inline-flex;
		min-width: 30px;	
	}
	.textfield{
		width: 100%;
	}
	.list-action{
		position: absolute;
		color: $color-MediumGray;	
		top: 50%;
		transform: translateY(-50%);
		@include dir-right(10px);
	}
	&.secondary-action{
		position: relative;
		@include dir-padding-right(50px);
	}
}
