.grid-list-l1{
	$itemMargin: 0;
	display: inline-block;
	width: 100%;
	position: relative;	
	> .list-container{
		> .list-scroller{
			padding: 0 0 10px 0;
			> *{	
				display: inline-block;
				text-align: center;		
				margin: 10px 0;		
			}
			@function getWidth($num){
				@return ((100% - ($num - 1) * $itemMargin) / $num);
			}
			@for $i from 1 through 6 {
				&.take-#{$i}{
					> *{								
						$xs: 1;
						$sm: 1;
						$md: 1;

						@if $i == 5 or $i == 6 {
							$xs: 2;
							$sm: 4;
							$md: 5;
						}
						@if $i == 4 {
							$xs: 1;
							$sm: 2;
							$md: 3;
						}
						@if $i == 3 {
							$xs: 1;
							$sm: 2;
							$md: 3;
						}
						@if $i == 2 {
							$xs: 1;
							$sm: 2;
							$md: 2;
						}
						width: getWidth($xs);
						min-width: getWidth($xs);
						@include media-breakpoint-up(sm){
							width: getWidth($sm);
							min-width: getWidth($sm);
						}
						@include media-breakpoint-up(md){
							width: getWidth($md);
							min-width: getWidth($md);
						}
						@include media-breakpoint-up(lg){
							width: getWidth($i);
							min-width: getWidth($i);
						}
					}
				}
			}
		}
	}
}