.time-picker-l1{
	@import "./time";
	position: relative;
	-webkit-overflow-scrolling: touch;
	background-color: transparent;
	width: 100%;
	height: 300px;
	text-align: center;
	color: $color-Main;
	&.vertical{
		white-space: normal;
	}
	&.horizontal{
		white-space: nowrap;
	}
	&::-webkit-scrollbar {
	    width: 6px;
	    height: 6px;
	    background-color: transparent;
	} 	
}