.sign-up-phone-l1 {
	.title {
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 10px;
		text-align: $dir-left;
	}
	.sub-title {
		transition: opacity 400ms;
		opacity: 0;
		font-size: 14px;
		margin-bottom: 10px;
		color: $color-Main;
		text-align: $dir-left;
	}
	.button-container{
		width: 100%;
	}
}
